<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>キャンプ場一覧</title>
</head>
<body>
    <h1>キャンプ場一覧</h1>
    <ul>
    <!-- キャンプ場一覧の表示 -->
  <% for(let camp of campGroundsAll) { %>
    <li><a href="/campgrounds/<%= camp._id %>"><%=camp._id %> <%= camp.title %></a></li>
  <% } %>
</ul>
</body>

</html>