<% layout('layouts/boilerplate') %>    

<!-- Bootstrapのバリデーションチェック　form にnovalidate class="needs-validation"　-->
<!-- Bootstrapのバリデーションチェック　input にrequired とscriptを追加　-->
<div class="row">
    <h1 class="text-center">キャンプ場登録</h1>
    <div class="offset-3 col-6">
        <form action="/campgrounds" method="POST" novalidate class="needs-validation">
            <div class="mb-3">
                <!-- Form control -->
                <label for="title" class="form-label">キャンプ場名</label>
                <input type="text" class="form-control" id="title" name="campground[title]" placeholder="例：富士山キャンプ場" required> 
                <div class="valid-feedback">
                    OK!
                </div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">場所</label>
                <input type="text" class="form-control" id="location" name="campground[location]" placeholder="例：北海道"  required> 
                <div class="valid-feedback">
                    OK!
                </div>
            </div>
            <div class="mb-3">
                <!-- Input group -->
                <label for="price" class="form-label">価格</label>
                <div class="input-group">
                    <!-- aria-describedby はspanとinputの紐づけ -->
                <span class="input-group-text" id="price-label">￥</span>
                <input type="text" class="form-control" id="price" placeholder="0" aria-label="価格" aria-describedby="price-label" name="campground[price]"  required>
                <div class="valid-feedback">
                    OK!
                </div>
            </div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">画像URL</label>
                <input type="text" class="form-control" id="image" name="campground[image]" placeholder="例：北海道"  required> 
                <div class="valid-feedback">
                    OK!
                </div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">説明</label>
                <textarea type="text" class="form-control" id="description" name="campground[description]" placeholder="例：北海道"  required></textarea> 
                <div class="valid-feedback">
                    OK!
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-success" type="submit">登録</button>

            </div>

        </form>
        <a href="/campgrounds">一覧へ戻る</a>
    </div>
    </h1>
</div>




