<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>キャンプ場詳細ページ</title>
</head>
<body>
    <h1>キャンプ場詳細ページ</h1>
    <!-- キャンプ場一覧の表示 -->
   
    <li><%= campGround.title %></li>
    <li><%= campGround.location %></li>

    <form action="/campgrounds/<%= campGround._id %>?_method=DELETE" method="POST">
        <button type="submit">キャンプ場を削除</button>
    </form>
</body>
</html>